* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'poppinsB';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsR';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsL';
  src: url('fonts/Poppins-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

/* ------------------ Menu ---------------- */
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#008080 ;
  padding: 15px;
  color: white;
}
.menuTitle{
  display: flex;
  align-items: center;
  font-family: poppinsR;
  gap: 10px;
  font-size: 15px;
  margin-right: 20px;
}
.btnContainer{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.btn{
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: #008080;
  border: none;
}
.spanHome{
  font-family: poppinsL;
}
.btn:hover{
  background-color: rgb(235, 235, 235);
}
.spanHome:hover{
  text-decoration: underline;
}
@media (max-width:500px) {
  .menu{
    flex-wrap: wrap;
  }
  .menuTitle{
    margin-bottom: 20px;
    font-size: 12px;
  }
}

/* ------------------ Title ---------------- */
.container{
  background-color: rgb(241, 241, 241);
  flex-grow: 1;
  height: 100vh;
}
.titleContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px 15px 30px;
}
.inputContainer{
  display: flex;
  flex-direction: column;
}
.label{
  font-family: poppinsB;
  font-size: 12px;
  margin-top: 30px;
}
.input{
  padding: 10px;
  min-width: 50%;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
}
.title{
  font-family: poppinsB;
  font-size: 22px;
  margin-right: 20px;
  margin-top: 30px;
}
@media (max-width:500px) {
  .inputContainer{
    margin-top: 15px;
  }
  .titleContainer{
    flex-wrap: wrap;
  }
  .container{
    height: 82vh;
  }
  .inputContainer {
    margin-top: 0px;
  }
  .title{
    margin-top: 15px;
  }
  .label{
    margin-top: 5px;
  }
}

/* ------------------ List ---------------- */
.listContainer{
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  border-radius: 5px;
  margin: 0px 30px 30px 30px;
  height: 45vh;
  padding: 20px;
}
.tableContainer{
  width: 100%;
}
.heard{
  background-color: rgb(231, 231, 231);
  text-align: start;
  padding: 10px;
  font-family: poppinsR;
}
.items{
  margin: 25px;
  font-family: poppinsR;
  border: 1px solid rgb(190, 190, 190);
}
.item{
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}
.iconTabel{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
}
.icon{
  padding: 10px;
  border: none;
  background-color: white;
}
.icon:hover{
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  border: none;
}

/* ------------------ Modal ---------------- */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalTitle{
  font-family: poppinsB;
  margin-bottom: 15px;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
}
.inputs{
  padding-bottom: 50px;
}
.spanInput{
  text-align: end;
  color:rgb(182, 182, 182);
  margin-bottom: 5px;
}
.inputModal{
  height: 35px;
}
.labelmodal{
  font-family: poppinsB;
  font-size: 14px;
}
.btnModal{
  border: none;
  background-color: #008080;
  font-family: poppinsR;
  color: white;
  padding: 7px;
  border-radius: 5px;
  width: 90px;
  margin-top: 5px;
}
.buttonContainerModal{
  display: flex;
  justify-content:center ;
  gap: 20px;
}
.btnModalCancel{
  background-color:rgb(231, 231, 231);
  color: #008080;
}
.btnModal:hover{
  background-color: #02a7a7f5
}
.btnModalCancel:hover{
  background-color:rgb(214, 213, 213);
}
.cardModal{
  font-family: poppinsR;
  background-color:rgb(231, 231, 231);
  font-size: 12px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
}
.textCard{
  font-family: poppinsR;
}
.iconAlert{
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .modal-conteudo{
    width: 75%; 
  }
}